{% load static %}



<link rel="stylesheet" href="{% static 'polls/style.css' %}">


{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <!-- <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li> -->
        <!-- <li><a href="{\% url 'detail' question.id \%}">{{ question.question_text }}</a></li> -->
        <!--
            The way this works is by looking up the URL definition as specified in the polls.urls module.
            You can see exactly where the URL name of ‘detail’ is defined below:

            ...In urls.py
            # the 'name' value as called by the {\% url \%} template tag
            path('<int:question_id>/', views.detail, name='detail'),
            ...
         -->

         <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
         <!--
             The answer is to add namespaces to your URLconf.
             In the polls/urls.py file, go ahead and add an app_name
             to set the application namespace:

             ...
             app_name = 'polls'
             urlpatterns = [
             ...
             ]
          -->
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}